.stepper-fixed {
    position: fixed;
    top: 172px;
    left: 80px;
    width: 240px;
}

@media (max-width: 768px) {
    .stepper-fixed {
        position: static;
        padding: 80px 0 80px 0;
        width: 100%;
        left: auto;
        top: auto;
    }
}
